<div class="modal fade" id="petDetailModal" tabindex="-1" aria-labelledby="petDetailLabel" aria-hidden="true" *ngIf='pet'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="petDetailLabel">Detalhes do Pet: {{ pet.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="pet.name" class="form-control" type="text">
        <p>
          <strong>Nome: </strong> {{ pet.name }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>