<h1 class="page-header">Lista de Pets</h1>

<form [formGroup]="reactivePetForm" (ngSubmit)="createPet()">
  <div class="row">
    <div class="form-group col-md-3" [ngClass]="fieldClassForErrorOrSuccess('kindId')">
      <label for="name" class="control-label">Tipo</label>
      <select type="text" formControlName="kindId" id="kindId" class="form-control">
        <option *ngFor="let kind of kindOptions" [value]="kind.id">{{ kind.description }}</option>
      </select>

      <div *ngIf="showFieldError('kindId')" class="text-danger">
        <div *ngIf="getField('kindId').errors.required">O tipo é obrigatório</div>
      </div>
    </div>

    <div class="form-group col-md-6" [ngClass]="fieldClassForErrorOrSuccess('name')">
      <label for="name" class="col-form-label">Nome</label>
      <input formControlName="name" id="name" class="form-control" placeholder="Digite o nome do novo Pet" maxlength="50">
      <div *ngIf="showFieldError('name')" class="text-danger">
        <div *ngIf="getField('name').errors.required">O nome é obrigatório</div>
        <div *ngIf="getField('name').errors.minlength">O nome deve ter no mínimo 2 caracteres</div>
        <div *ngIf="getField('name').errors.maxlength">O nome deve ter no máximo 50 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3" [ngClass]="fieldClassForErrorOrSuccess('age')">
      <label for="age" class="col-form-label">Idade</label>
      <input formControlName="age" id="age" class="form-control" placeholder="Digite a idade do novo Pet">

      <div *ngIf="showFieldError('age')" class="text-danger">
        <div *ngIf="getField('age').errors.required">A idade é obrigatória</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3" [ngClass]="fieldClassForErrorOrSuccess('race')">
      <label for="race" class="col-form-label">Raça</label>
      <input formControlName="race" id="race" class="form-control" placeholder="Digite raça do novo Pet"  maxlength="50">

      <div *ngIf="showFieldError('race')" class="text-danger">
        <div *ngIf="getField('race').errors.required">A raça é obrigatória</div>
        <div *ngIf="getField('name').errors.minlength">A raça deve ter no mínimo 2 caracteres</div>
        <div *ngIf="getField('name').errors.maxlength">A raça deve ter no máximo 50 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-6" [ngClass]="fieldClassForErrorOrSuccess('city')">
      <label for="city" class="col-form-label">Cidade</label>
      <input formControlName="city" id="city" class="form-control" placeholder="Digite a cidade do novo Pet"  maxlength="60">

      <div *ngIf="showFieldError('city')" class="text-danger">
        <div *ngIf="getField('city').errors.required">A cidade é obrigatória</div>
        <div *ngIf="getField('name').errors.minlength">A cidade deve ter no mínimo 2 caracteres</div>
        <div *ngIf="getField('name').errors.maxlength">A cidade deve ter no máximo 60 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3" [ngClass]="fieldClassForErrorOrSuccess('weight')">
      <label for="weight" class="col-form-label">Peso</label>
      <input formControlName="weight" id="weight" class="form-control" placeholder="Digite o peso do novo Pet">

      <div *ngIf="showFieldError('weight')" class="text-danger">
        <div *ngIf="getField('weight').errors.required">O peso é obrigatório</div>
      </div>
    </div>
  </div>

  <button [disabled]="reactivePetForm.invalid" type="submit" class="btn btn-success">Adicionar Pet</button>
</form>

<p></p>

<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Raça</th>
      <th>Cidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let pet of pets'>
      <td>{{ pet.id }}</td>
      <td>{{ pet.name }}</td>
      <td>{{ pet.race }}</td>
      <td>{{ pet.city }}</td>
      <td>
        <a [routerLink]="['/pets', pet.id]" class="btn btn-info">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
          Detalhes
        </a>
        <button class="btn btn-danger" (click)="deletePet(pet)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
          </svg>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>